@keyframes right_hand {
    0%{
        transform-origin: left;
        /* 축을 left 에 고정 */
    }
    100%{
        transform-origin: left;
        transform: translate(7%,15%) rotate(5deg) scale(1.1);       
    }
}
@keyframes head {
    0%{

    }
    100%{
        transform: rotate(-12deg);
    }
}
*,
*:after,
*:before{
    box-sizing: border-box;
}

body{
    background: skyblue;
    background: url('./사무실.jpg') no-repeat fixed center / cover;
}
.bird{
    position: relative;
    top: 34px;
    margin-left: 13%;
    width: 890px;
    height: 580px;
    transform: scale(0.6);
}
.head_animation{
    animation: head 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-timing-function:cubic-bezier(.42,1.38,.69,-0.5);
}
.bird .bird_head{
    position: absolute;
    background-color: white;
    border: 10px solid black;
    border-radius:49%;
    width: 500px;
    height: 590px;
    transform: rotate(6deg);
    left: 136px;
    bottom: 20px;
    z-index: 1;
}
.bird .face{
    position: absolute;
    background-color: white;
    border-radius:49%;
    width: 493px;
    height: 220px;
    transform: rotate(6deg);
    left: 136px;
    bottom: 175px;
    z-index: 4;
}
.mouse_top{
    position: relative;
    left: 209px;
    bottom: 30px;
    width: 60px;
    height: 30px;
    border-bottom: solid 30px rgb(200,30,50);
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
    border-radius: 40%;
    transform: rotate(23deg);
}
.mouse_bottom{
    position: relative;
    left: 213px;
    bottom: 36px;
    width: 5px;
    height: 20px;
    border-top: solid 19px rgb(200,30,50);
    border-left: solid 20px transparent;
    border-right: solid 17px transparent;
    transform: rotate(23deg);
}
.bird .bird_body {
    position: absolute;
    background-color: white;
    border: 10px solid black;
    top: 190px;
    bottom: 0px;
    width: 700px;
    height: 550px;
    border-radius:50%;
    z-index: 2;
}
.bird .bird_left_eye{
    position: absolute;
    left: 189px;
    top: 87px;
    background-color: black;
    width: 9px;
    height: 56px;
    transform: rotate(23deg);
    z-index: 3px;
}
.bird .bird_right_eye{
    position: absolute;
    left: 321px;
    top: 135px;
    background-color: black;
    width: 9px;
    height: 56px;
    transform: rotate(23deg);
    z-index: 3px;
}
.bird_left_hand{
    position: absolute;
    border: 10px black solid;
    background-color: white;
    width: 337px;
    height: 144px;
    top: 285px;
    left: 50px;
    border-radius: 61px 8px 137px 76px;
    transform: rotate(27deg);
    z-index: 6;
}
.bird_right_hand{
    position: absolute;
    border: 10px black solid;
    background-color: white;
    width: 337px;
    height: 144px;
    top: 257px;
    left: 544px;
    bottom: 1px;
    border-radius: 61px 8px 137px 76px;
    transform: rotate(-60deg);
    z-index: 6;
    animation: right_hand 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function:cubic-bezier(0.65, 0, 0.35, 1);
}
.bird_left_foot{
    position: absolute;
    top: 488px;
    left: 121px;
    width: 6px;
    height: 80px;
    background-color: yellow;
    transform: rotate(32deg);
}
.bird_right_foot{
    position: absolute;
    top: 540px;
    left: 334px;
    width: 6px;
    height: 80px;
    background-color: yellow;
}
.foot{
    position: absolute;
    width: 6px;
    height: 38px;
    top: 40px;
    background-color: yellow;
}
.right{
    transform: rotate(-37deg);
    right: -13px;
}
.left{
    transform: rotate(37deg);
    left: -13px;
}
.hand1{
    position: absolute;
    width: 108px;
    height: 10px;
    top: 20px;
    left: 209px;
    background-color: black;
}
.hand2{
    position: absolute;
    width: 99px;
    height: 10px;
    top: 48px;
    left: 210px;
    background-color: black;
}
.hand3{
    position: absolute;
    width: 83px;
    height: 10px;
    top: 75px;
    left: 209px;
    background-color: black;
}
.book{
    position: absolute;
    top: 289px;
    left: 229px;
    width: 200px;
    height: 244px;
    background: url('./책.jpg');
    background-size:contain;
    /* 같은비율로 줄이기 위해 사용*/
    z-index: 5;
    transform: rotate(25deg);
}